@use "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

@use "./node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@use "./node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@use "./node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

$fa-font-path: "../web-fonts";


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #1c1c1e;
    color: #f0f0f0;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(159, 158, 158, 0.1), 0 1px 3px rgba(122, 97, 97, 0.443);
}

.chat {
    // border: 1px solid #444;
    width: 99dvw;
    background-color: #2c2c2e;
    height: 98dvh;

    &.header {
        background-color: #444;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    &.api-key {
        display: flex;
    }
}

.trash-btn {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
   // background-color: transparent;
    //border: none;
    color: #f0f0f0;
    font-size: 18px;
    cursor: pointer;

    &:hover {
        color: #4a4a4c;
    }
}


.messages {
    overflow-y: auto;
    padding: 10px;
    position: relative;
    max-height: 96dvh;
    min-height: 400px;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.messages::-webkit-scrollbar {
    /* For Chrome, Safari, and Opera */
    display: none;
}

#chat-form {
    display: flex;
    padding: 6px;
    height: 50px;
    border-top: 1px solid #444;
}


#user-input {
    flex-grow: 1;
    border: 1px solid #444;
    outline: none;
    background-color: #1c1c1e;
    font-size: 20px;
    color: #f0f0f0;
    resize: vertical;
    overflow: auto;
    white-space: pre-wrap;
    min-height: 41px;
}

button {
    border: 1px solid #444;
    background-color: #3a3a3c;
    color: #f0f0f0;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: #4a4a4c;
    }
}

.send-button {
    border: 1px solid #444;
    background-color: #3a3a3c;
    color: #33922bcd;
    cursor: pointer;
    outline: none;
    position: relative;
    min-height: 50px;
    display: grid;
    align-content: center;
    min-width: 54px;
    justify-content: space-around;


    &:hover {
        background-color: #4a4a4c;
    }
}

.user,
.gpt {
    color: #00ccff;

    &.label {
        font-size: 0.7em;
        display: block;
        margin-bottom: 2px;
        color: rgba(255, 255, 255, 0.7);
        text-align: right;
    }
}

.gpt {
    color: #ff9900;

    &.label {
        text-align: left;
        border-bottom: 2px solid slategray;
        font-size: 0.9em;
        font-weight: bolder;
    }
}

.hljs {
    background-color: #000000 !important;
    color: #d5d5d5 !important;
}

.message {
    position: relative;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    max-width: 80%;
    min-width: 10%;
    clear: both;

    .label {
        position: absolute;
        top: -18px;
        font-size: 12px;
        font-weight: bold;
        padding: 2px 5px;
        border-radius: 5px;
    }

    &.user {
        float: right;
        background-color: #183d67;
        color: #fff;

        .label {
            background-color: #183d67;
            right: 5px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -5px;
            border-width: 5px 0 0 5px;
            border-style: solid;
            border-color: transparent #0077ff;
        }
    }

    &.gpt {
        float: left;
        background-color: #364353;
        color: #f0f0f0;

        .label {
            background-color: #364353;
            left: 5px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -5px;
            border-width: 5px 5px 0 0;
            border-style: solid;
            border-color: transparent #444;
        }
    }
}

.saved-conversations-dropdown {
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
}
.saved-conversations-dropdown select {
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #5a5a5a;
    border-radius: 4px;
    background-color: #3a3a3a;
    color: #f1f1f1;
    /* Change the text color to a lighter shade */
    cursor: pointer;
}

.saved-conversations-dropdown select:focus {
    outline: none;
    /* Remove the default focus outline */
    box-shadow: 0 0 0 1px #5a5a5a;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clear-button {
    width: 72%;
    margin-bottom: 10px;
    padding: 5px 10px;
}


.app-container {
    position: relative; // Add relative positioning
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    border-radius: 8px;
    z-index: -1;

}

.sidebar {
    background-color: #444;
    width: 315px;
    border-radius: 8px;
    padding: 8px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    transition: left 0.3s ease;
    z-index: -1;
    opacity: 0;
    justify-content: space-between;
    align-items: stretch;

    &.open {
        z-index: 2;
        opacity: 1;

    }
}

.close-btn {
    align-self: flex-end; // Align the button to the right
    padding: 5px 10px;
    border: 1px solid #444;
    border-radius: 3px;
    background-color: #3a3a3c;
    color: #f0f0f0;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px; // Add some margin at the bottom

    &:hover {
        background-color: #4a4a4c;
    }
}

// .settings-tag {
//     position: absolute; // Change from fixed to absolute
//     transform: translateY(-50%) rotate(-90deg);
//     transform-origin: bottom left;
//     background-color: #41444f;
//     color: #f0f0f0;
//     padding: 5px 10px;
//     font-size: 18px;
//     cursor: pointer;
//     z-index: 3;
//     border-top-right-radius: 5px;
//     border-bottom-right-radius: 5px;
//     user-select: none;
//     top: 135px;
//     left: 244px;
// }



.chat-container {
    position: relative; // Add relative positioning
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 500px;
    min-width: 350px;
    //border: 1px solid #444;
    border-radius: 4px;
    width: 99dvw;
    max-width: 99dvw;
    background-color: #2c2c2e;
    justify-content: space-between;
}


.chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 513px;
    min-width: 350px;
    max-width: 99dvw;
    border: 1px solid #444;
    border-radius: 5px;
    width: 50%;
    background-color: #2c2c2e;
    justify-content: space-between;
}

.header {
    background-color: #444;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    position: relative; // Add this line
    border-radius: 4px;
}

.settings-header {
    background-color: #444;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: -7px;
    position: relative;
    border-bottom: 5px solid gray;
}

.settings-btn {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #f0f0f0;
    font-size: 18px;
    cursor: pointer;
    outline: none;

    &:hover {
        color: #4a4a4c;
    }
}

.message-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 0.7em;
    font-weight: bold;
}

.message-container {
    display: flex;
    align-items: flex-end;
}

.message-container.user .message-tag {
    background-color: #0077ff;
    color: #fff;
}

.message-container.gpt .message-tag {
    background-color: #364353;
    color: #f0f0f0;
}

.no-style-link {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
        text-decoration: none;
        color: inherit;
    }
}

.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 25px;
    border-bottom: 2px solid gray;

    input[type="range"] {
        -webkit-appearance: none;
        flex-grow: 1;
        height: 15px;
        border-radius: 5px;
        background: #33922bcd;
        outline: none;
        margin-left: 10px;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }

        &::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }
    }
}

.control {
    padding-bottom: 25px;
    border-bottom: 2px solid gray;
}

.api-key {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 2px solid gray;

    input[type="password"] {
        width: 72%;
        padding: 5px;
        border: 1px solid #444;
        border-radius: 5px;
        background-color: #1c1c1e;
        color: #f0f0f0;
        outline: none;
        margin-top: 5px;
    }
}

.settings-section {
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem 0;
}

.settings-section h3 {
    margin-bottom: 0.5rem;
}

.loading {
    background-color: #3a3a3c;
    color: rgba(255, 255, 255, 0.7);
}

.loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    border-width: 5px 5px 0 0;
    border-style: solid;
    border-color: transparent #3a3a3c;
}

.padded {
    padding: 10px;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    display: inline-block;
    width: 9px;
    color: lightskyblue;
    height: 9px;
    margin-left: 5px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-left-color: greenyellow;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }
}