@use "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

@use "./node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@use "./node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@use "./node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

$fa-font-path: "../web-fonts";
$icon-color: #c7a0c8;

@font-face {
    font-family: 'Helvetica';
    src: url('/web-fonts/Helvetica.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Helvetica';
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #1c1c1e;
    color: #f0f0f0;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat {
    // border: 1px solid #444;
    width: 99dvw;
    background-color: #2c2c2e;
    height: 98dvh;

    &.header {
        background-color: #444;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    &.api-key {
        display: flex;
    }
}

.trash-btn {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: $icon-color;
    cursor: pointer;

    &:hover {
        color: #4a4a4c;
    }
}


.messages {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    position: relative;
    max-height: 96dvh;
    min-height: 400px;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

.messages::-webkit-scrollbar {
    /* For Chrome, Safari, and Opera */
    display: none;
}

#chat-form {
    display: flex;
    padding: 6px;
    height: 50px;
    border-top: 1px solid #444;
}


#user-search-input {
    flex-grow: 1;
    z-index: 9999;
    border: 1px solid #444;
    outline: none;
    background-color: #1c1c1e;
    font-size: 18px;
    color: #f0f0f0;
    width: inherit;
    resize: vertical;
    overflow: auto;
    white-space: pre-wrap;
    min-height: 30px;
    border-radius: 30px;
    transition: 0.2s height ease-in-out;
}

#user-input {
    flex-grow: 1;
    z-index: 9999;
    border: 1px solid #444;
    outline: none;
    background-color: #1c1c1e;
    font-size: 18px;
    color: #f0f0f0;
    resize: vertical;
    overflow: auto;
    white-space: pre-wrap;
    min-height: 35px;
    border-radius: 30px;
    transition: 0.2s height ease-in-out;
    //border-top-right-radius: 30px;
    //border-bottom-right-radius: 30px;

}

textarea {
    padding-top: 14px;
    padding-left: 20px;
    transition: 0.2s height ease-in-out;
}

button {
    border: 1px solid #444;
    background-color: #3a3a3c;
    color: #f0f0f0;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: #4a4a4c;
    }
}

.send-button {
    border: 1px solid #444;
    background-color: #2a3441;
    cursor: pointer;
    outline: none;
    color: $icon-color;
    position: absolute;
    min-height: 50px;
    display: grid;
    align-content: center;
    right: 7px;
    z-index: 99999;
    border-radius: 30px;
    min-width: 54px;
    justify-content: space-around;


    &:hover {
        background-color: #4a4a4c;
    }
}

.floating-button {
    border: 1px solid #444;
    background-color: #2a3441;
    cursor: pointer;
    outline: none;
    color: $icon-color;
    position: fixed;
    min-height: 50px;
    top: 73px;
    display: grid;
    align-content: center;
    right: 7px;
    z-index: 99999;
    border-radius: 30px;
    min-width: 54px;
    opacity: 1;
    justify-content: space-around;
    transition: opacity 0.5s ease-in-out;

    &.scroll {
        top: 76vh;
        opacity: 0;

        &.show {
            opacity: 1;
            ;
        }
    }


    &:hover {
        background-color: #4a4a4c;
    }
}

.floating-search-field {
    border: 1px solid #444;
    background-color: #2f2f31;
    cursor: pointer;
    outline: none;
    color: #433944;
    position: fixed;
    min-height: 0px;
    top: 73px;
    display: grid;
    align-content: center;
    right: 82px;
    width: 0px;
    border-radius: 30px;
    min-width: 0px;
    z-index: -5;
    justify-content: space-around;
    transition: width 0.25s ease-in-out;

    &.show {
        z-index: 99999;
        width: 70vw;
    }
}



.user,
.gpt {
    color: #00ccff;

    &.label {
        font-size: 0.7em;
        display: block;
        margin-bottom: 2px;
        color: rgba(255, 255, 255, 0.7);
        text-align: right;
    }
}

.gpt {
    color: #ff9900;

    &.label {
        text-align: left;
        border-bottom: 2px solid slategray;
        font-size: 0.9em;
        font-weight: bolder;
    }
}

.hljs {
    background-color: #000000 !important;
    color: #d5d5d5 !important;
}

.message {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 25px;
    text-overflow: clip;
    max-width: 80%;
    min-width: 5%;
    margin-bottom: 8px;
    clear: both;
    margin-top: 6px;

    .copy-text {
        position: relative;
        display: inline-block;
    
        button {
            display: block;
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    
        &:hover {
            button {
                display: block;
                z-index: 9999;
            }
        }
    }

    pre {
        overflow: hidden;
        text-overflow: clip;
    }

    .label {
        position: absolute;
        top: -18px;
        font-size: 12px;
        font-weight: bold;
        padding: 2px 5px;
        border-radius: 5px;
    }

    &.user {
        float: right;
        background-color: #473253;
        color: #fff;

        .label {
            background-color: #473253;
            right: 0px;
            border-radius: 20px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -5px;
            border-width: 5px 0 0 5px;
            border-style: solid;
            border-color: transparent #0077ff;
        }
    }

    &.gpt {
        float: left;
        background-color: #433944;
        color: #f0f0f0;


        // overflow: hidden;
        text-overflow: clip;

        .label {
            background-color: #433944;
            left: 0px;
            border-radius: 20px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -5px;
            border-width: 5px 5px 0 0;
            border-style: solid;
            border-color: transparent #444;
        }
    }
}

.saved-conversations {
    display: none;
}

.saved-conversations--visible {
    display: flex;

}

.conversations-count {
    display: contents;
    position: relative;
    left: 0px;

    .count-icon {
        padding: 2px;
        top: 8px;
        right: 11px;
        color: $icon-color;
        float: right;
        position: relative;
    }

    .save-icon {
        padding: 2px;
        right: 65px;
        top: 8px;
        color: $icon-color;
        float: right;
        position: relative;
    }
}

.saved-conversations-dropdown {
    position: absolute;
    top: 50%;
    right: 10px;
    color: $icon-color;
    transform: translateY(-50%);
}

.saved-conversations-dropdown select {
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #5a5a5a;
    border-radius: 4px;
    background-color: #3a3a3a;
    color: #f1f1f1;
    /* Change the text color to a lighter shade */
    cursor: pointer;
}

.saved-conversations-dropdown select:focus {
    outline: none;
    /* Remove the default focus outline */
    box-shadow: 0 0 0 1px #5a5a5a;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clear-button {
    width: 72%;
    margin-bottom: 10px;
    padding: 5px 10px;
}


.app-container {
    position: relative; // Add relative positioning
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    border-radius: 8px;
    z-index: -1;

}

.general-processing {
    display: contents;
    position: relative;
}

.sidebar {
    background-color: #2b2431;
    width: 315px;
    border-radius: 8px;
    padding: 8px;
    overflow: auto;
    max-height: 75vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    
    opacity: 0;
    z-index: -1;
    transition: z-index 0.15s step-end, opacity 0.15s linear;
    justify-content: space-between;
    align-items: stretch;

    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */

    &.open {
        z-index: 9999;
        opacity: 1;

        transition: z-index 0.15s step-start, opacity 0.15s linear;
    }

    .scrollable-list {
        height: 55vh;
        overflow: auto;


        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            padding: 10px;
            border-bottom: 1px solid #ddd;

            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */

            &:hover {
                background-color: #3d3346;
            }
        }
    }
}

.sidebar::-webkit-scrollbar {
    /* For Chrome, Safari, and Opera */
    display: none;
}

@keyframes delayZIndex {
    0% { z-index: -1; }
    100% { z-index: 9999; }
}

.close-btn {
    align-self: flex-end; // Align the button to the right
    padding: 5px 10px;
    border: 1px solid #444;
    border-radius: 12px;
    background-color: #665067;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    height: 50px;
    outline: none;
    margin-bottom: 10px; // Add some margin at the bottom

    &:hover {
        background-color: #4a4a4c;
    }
}

.import-export-container {

    display: flex;

    .import-export-btn {
        align-self: flex-end; // Align the button to the right
        padding: 5px 10px;
        border: 1px solid #444;
        border-radius: 12px;
        margin-right: 6px;
        background-color: #665067;
        color: white;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        height: 50px;
        outline: none;
        margin-bottom: -12px; // Add some margin at the bottom
    
        &:hover {
            background-color: #4a4a4c;
        }
    }
}


.chat-container {
    position: relative; // Add relative positioning
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 500px;
    min-width: 350px;
    //border: 1px solid #444;
    border-radius: 4px;
    width: 99dvw;
    max-width: 99dvw;
    background-color: #2c2c2e;
    justify-content: space-between;
}


.chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 513px;
    min-width: 350px;
    max-width: 99dvw;
    border: 1px solid #444;
    border-radius: 30px;
    width: 50%;
    background-color: #202124;
    justify-content: space-between;
}

$shadow-color: #252629;
$shadow-offset-x: 0px;
$shadow-offset-y: 1px;
$shadow-blur-radius: 2px;
$shadow-spread-radius: 0px;

.box {
    box-shadow: $shadow-offset-x $shadow-offset-y $shadow-blur-radius $shadow-spread-radius $shadow-color;
}

.header {
    background-color: #202124;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #2b2c30;
    position: relative; // Add this line
    border-radius: 4px;
}

.settings-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: -7px;
    position: relative;
    border-bottom: 5px solid gray;
}

.settings-btn {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: $icon-color;
    cursor: pointer;
    outline: none;

    &:hover {
        color: #4a4a4c;
    }
}

.message-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 0.7em;
    font-weight: bold;
}

.message-container {
    display: flex;
    align-items: flex-end;
}

.message-container.user .message-tag {
    background-color: #0077ff;
    color: #fff;
}

.message-container.gpt .message-tag {
    background-color: #234b4a;
    color: #f0f0f0;
}

.no-style-link {
    text-decoration: none;
    color: #c7a0c8;
    padding-left: 15px;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 25px;
    border-bottom: 2px solid gray;

    input[type="range"] {
        -webkit-appearance: none;
        flex-grow: 1;
        height: 15px;
        border-radius: 5px;
        background: #916c93;
        outline: none;
        margin-left: 10px;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #665067;
            cursor: pointer;
        }

        &::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #665067;
            cursor: pointer;
        }
    }
}

.control {
    padding-bottom: 25px;
    border-bottom: 2px solid gray;
}

.api-key {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 2px solid gray;

    input {
        width: 70%;
        padding: 5px;
        border: 1px solid #444;
        border-radius: 5px;
        background-color: #1c1c1e;
        color: #f0f0f0;
        outline: none;
        margin-top: 5px;
    }
}

.settings-section {
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem 0;
}

.settings-section h3 {
    margin-bottom: 0.5rem;
}

.loading {
    background-color: #3a3a3c;
    color: rgba(255, 255, 255, 0.7);
}

.loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    border-width: 5px 5px 0 0;
    border-style: solid;
    border-color: transparent #3a3a3c;
}

.padded {
    padding: 10px;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    display: inline-block;
    width: 9px;
    color: lightskyblue;
    height: 9px;
    margin-left: 5px;
    border: 4px solid #3c8280;
    border-left-color: #1cdfd8;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

.input-spinner {
    display: flex;
    width: 25px;
    color: lightskyblue;
    height: 25px;
    bottom: 15px;
    right: 65px;
    position: absolute;
    z-index: 9000888;
    margin-left: 5px;
    border: 4px solid #3c8280;
    border-left-color: #1cdfd8;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}